<!-- views/partial_headers.ejs  --> 
<!DOCTYPE html>
<html lang ="en">
    <head>

        <meta charset="utf-8">
        <title> TriParis </title>
        <link rel="icon" type="image/png" href="/static/logo1.png" />
        <link rel= "stylesheet" href= "/static/Styles.css"> 
        <link rel= "stylesheet" href= "/static/menu_style.css">
        <script type="text/javascript" src="/js/script.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <!-- https://getbootstrap.com/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

        <!-- Add static CSS/JS references... -->
        <!-- <link rel="stylesheet" href="/static/some.css"> -->
        <style type='text/css'>
            body { margin: 10px; }
        </style>

    </head>
    
    <body>

        <div class="header">
            <a href="/excursion/">
              <img class = "todo" src="/static/image1.png" alt=""> 
            </a>
        </div>

        <div class="container">
            <ul id="menu">
                <li><b><a href="/excursion/activity">Activities</a></b>
                    
                </li>

                <li><b><a href="/excursion/visit">Visits</a></b>
                    
                </li>

                <li><b><a href="/excursion/walk">Walks</a></b>

                </li>

                <li><b><a href="/place">Places</a></b>

                </li>

                <li><b><a href="">Add</a></b>
                </a>
                <ul>
                  <li> <a href="/place/edit-place/0"> Place </a></li>
                  <li> <a href="/excursion/edit-excursion/0"> Excursion </a></li>
                </ul>    
              
                <li><b><a href="/choice">my Choices</a></b>
                    
                </li>

                <li><b><a href="/auth">Log in</a></b>
                <ul>
                    <li> <a href="/excursion/edit-user/0"> Sign in </a></li>
                </ul> 
            </ul>
        </div>

        <br>

